@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<h1>@localizer["Hello"]! What a nice @localizer["Shoes"]. @localizer["Today"], we have bad @localizer["Weather"] conditions.</h1>

