@model UpdateProductImageDTO
@{
    ViewData["Title"] = "ProductImagesList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Update this Product Images</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" asp-for="ProductImageId" class="form-control" />
                        <input type="hidden" asp-for="ProductId" class="form-control" />
                        <label> Image 1</label>
                        <input type="text" asp-for="Image1" class="form-control" />
                        <br />
                        <label> Image 2</label>
                        <input type="text" asp-for="Image2" class="form-control" />
                        <br />
                        <label> Image 3</label>
                        <input type="text" asp-for="Image3" class="form-control" />
                        <br />
                        <label> Image 4</label>
                        <input type="text" asp-for="Image4" class="form-control" />
                        <br />
                        <button class="btn btn-primary">Update Product Images</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


