@model UpdateCategoryDTO

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Update this Category</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" readonly asp-for="CategoryId" class="form-control" />
                        <label> Category Name</label>
                        <input type="text" asp-for="CategoryName" class="form-control" />
                        <br />
                        <label> Image URL</label>
                        <input type="text" asp-for="CategoryImageURL" class="form-control" />
                        <br />
                        <button class="btn btn-primary">Update this Category</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

