@model UpdateFeatureDTO
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Update this Feature</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" asp-for="FeatureId" class="form-control" />
                        <label> Feature Title</label>
                        <input type="text" asp-for="FeatureTitle" class="form-control" />
                        <br />
                        <label> Feature Icon</label>
                        <input type="text" asp-for="FeatureIcon" class="form-control" />
                        <br />
                        <button class="btn btn-primary">Update this Feature</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>